html {
  display: inline-block;
  text-align: center;
}

#master-grid {
  height: 960px;
  width: 960px;

  background-color: whitesmoke;
  /* background-image: url("images/nicky-cage-2.jpg"); */
  background-position: center;
  background-size: cover;

  margin-top: 25px;
  margin-right: 40px;
  display: inline-grid;
  border: 5px solid black;
  border-radius: 10px;

  overflow: hidden;
}

.cell {
  display: block;
  border: 1px dashed gray;
  background-color: black;
  opacity: 0;
}

/* .color {
  border: 1px solid white;
  background-color: black;
} */
